.component{
  padding: 10px;
}
.component__header img{
  width: 30px;
  height: 30px;
}
.component__content {
  display: flex;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 10px;
}
.component__menu-side {
  width: 20%;
  border-right: 1px solid var(--white-cream);

  padding: 20px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.component__menu-side .scrollbox{
  overflow: auto;
}
.menu-side__nested-list-parent,
.menu-side__nested-list-child {
  list-style: none;
}
.menu-side__nested-list-child li {
  padding: 0 20px;
  border-left: 1px solid #000;
}
.menu-side__nested-list-child li:hover {
  border-left: 1px solid var(--primary-color);
}
.menu-side__nested-list-child li a{
  text-decoration: none;
  color: #000;
}
.menu-side__nested-list-parent li img{
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10px;
  top: 20px;
}